:root {
    --font-color: #ffffff;
    --background-color: #003264;
    --borderbox-background: rgb(92, 92, 92);
    --borderbox-border: #323232;
    --s: 82px;
    --c1: #b2b2b2;
    --c2: #ffffff;
    --c3: #d9d9d9;
    --_g: var(--c3) 0 120deg, #0000 0;
}

body {
    font-family: 'M PLUS 2', sans-serif;
    color: var(--font-color);
    margin: 0;
    padding: 20px;
    background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
      conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
      conic-gradient(
        from 60deg at calc(200% / 3),
        var(--c3) 60deg,
        var(--c2) 0 120deg,
        #0000 0
      ),
      conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
      linear-gradient(
        90deg,
        var(--c1) calc(100% / 6),
        var(--c2) 0 50%,
        var(--c1) 0 calc(500% / 6),
        var(--c2) 0
      );
    background-size: calc(1.732 * var(--s)) var(--s);
}

.border_box {
    background: var(--borderbox-background);
    background-color: var(--borderbox-background);
    border-radius: 10px;
    border: 1px solid var(--borderbox-border);
    box-shadow: 4px 4px var(--borderbox-border);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
}

#settings {
    padding: 10px 20px 0 20px;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#settings_text {
    font-size: 20px;
    padding-bottom: 5px;
}

.switchLabel {
    margin-right: 3.5rem;
}

#errorMessage {
    display: none;
    font-size: 20px;
    margin-top: 1rem;
    padding: 10px 10px;
    max-width: 420px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding: 2px 20px 2px 20px;
    align-items: center;
}

#ghlink {
    padding-top: 5px;
}

/*config slider*/
.switch {
    font-size: 13px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #adb5bd;
    transition: 0.4s;
    border-radius: 30px;
    border: 1px solid #323232;
    box-shadow: 4px 4px #323232;
}

.slider:before {
    position: absolute;
    content: '';
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #1c1d1e;
}

input:checked + .slider:before {
    transform: translateX(1.5em);
    background-color: white;
}
/*config slider*/
